@import "shared/utils/responsive.module.scss";
@import "shared/utils/colors.scss";

.topMainContainer {
  height: 100vh;
  overflow: auto;
}

/* Hide scrollbar for IE, Edge and Firefox */
.topMainContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.toplevelContainerMain {
  background-color: #dbdace;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.topMainContainer::-webkit-scrollbar {
  display: none;
}

.mainLabel {
  font-family: AG;
  color: $RED2;
  font-size: 120px;
}

.subContainer {
  margin-top: 0px;
}

.subLabel {
  font-family: AG;
  color: black;
  font-size: 110px;
  margin-top: -65px;
  margin-left: 26px;
}

.subHeadingLabel {
  font-family: LGSemiBold;
  font-size: 24px;
}

.siderContainer {
  height: 450px;
  max-width: 1700px;
  overflow: hidden;
  margin: auto;
}

.gifImage {
  height: 820px;
  width: fit-content !important;
  object-fit: contain;
}

.marginContainer {
  margin-top: 128px !important;
}

@media screen and (max-width: 376px) {
  .mainLabel {
    font-size: 47px;
  }
  .subLabel {
    font-size: 44px;
    margin-top: -17px;
    margin-left: 8px;
  }
  .gifImage {
    height: 363px;
  }
  .textContainer {
    margin-left: 0px;
  }
  .siderContainer {
    height: 100%;
  }
  .marginContainer {
    margin-top: 75px !important;
  }
}

@media (min-width: 376px) and (max-width: 476px) {
  .mainLabel {
    font-size: 56px;
  }
  .subLabel {
    font-size: 52px;
    margin-top: -32px;
    margin-left: 10px;
  }
  .gifImage {
    height: 428px;
  }
  .textContainer {
    margin-left: 0px;
  }
  .siderContainer {
    height: 100%;
  }
  .marginContainer {
    margin-top: 75px !important;
  }
}

@media (min-width: 476px) and (max-width: 576px) {
  .mainLabel {
    font-size: 67px;
  }
  .subLabel {
    font-size: 62px;
    margin-top: -32px;
    margin-left: 12px;
  }
  .subHeadingLabel {
    font-size: 14px;
  }
  .gifImage {
    height: 503px;
  }
  .textContainer {
    margin-left: 0px;
  }
  .siderContainer {
    height: 100%;
  }
  .marginContainer {
    margin-top: 75px !important;
  }
}

@media screen and (min-width: 576px) {
  .mainLabel {
    font-size: 71px;
  }
  .subLabel {
    font-size: 65px;
    margin-top: -32px;
    margin-left: 16px;
  }
  .subHeadingLabel {
    font-size: 14px;
  }
  .siderContainer {
    height: 100%;
  }
  .gifImage {
    height: 485px;
  }
  .marginContainer {
    margin-top: 75px !important;
  }
}

@media screen and (min-width: 767px) {
  .mainLabel {
    font-size: 71px;
  }
  .subLabel {
    font-size: 65px;
    margin-top: -32px;
    margin-left: 16px;
  }
  .subHeadingLabel {
    font-size: 14px;
  }
  .siderContainer {
    height: 100%;
  }
  .gifImage {
    height: 485px;
  }
  .marginContainer {
    margin-top: 75px !important;
  }
}

@media screen and (min-width: 992px) {
  .mainLabel {
    font-size: 87px;
  }
  .subLabel {
    font-size: 70px;
    margin-top: -40px;
    margin-left: 14px;
  }
  .subContainer {
    margin-top: -10px;
  }
  .subHeadingLabel {
    font-size: 15px;
  }
  .siderContainer {
    height: 266px;
  }
  .gifImage {
    height: 485px;
  }
  .marginContainer {
    margin-top: 75px !important;
  }
}

@media screen and (min-width: 1200px) {
  .mainLabel {
    font-size: 87px;
  }
  .subLabel {
    font-size: 79px;
    margin-top: -45px;
    margin-left: 19px;
  }
  .subContainer {
    margin-top: 0px;
  }
  .subHeadingLabel {
    font-size: 17px;
  }
  .siderContainer {
    height: 324px;
  }
  .gifImage {
    height: 592px;
  }
  .marginContainer {
    margin-top: 92px !important;
  }
}

@media screen and (min-width: 1400px) {
  .mainLabel {
    font-size: 102px;
  }
  .subLabel {
    font-size: 93px;
    margin-top: -55px;
    margin-left: 22px;
  }
  .subHeadingLabel {
    font-size: 20px;
  }
  .siderContainer {
    height: 382px;
  }
  .gifImage {
    height: 697px;
  }
  .marginContainer {
    margin-top: 108px !important;
  }
}

@media screen and (min-width: 1600px) {
  .mainLabel {
    font-size: 120px;
  }
  .subLabel {
    font-size: 110px;
    margin-top: -65px;
    margin-left: 26px;
  }
  .subHeadingLabel {
    font-size: 24px;
  }
  .siderContainer {
    height: 450px;
  }
  .gifImage {
    height: 820px;
  }
  .marginContainer {
    margin-top: 128px !important;
  }
}
