@import "shared/utils/colors.scss";

.artContainer {
  min-width: 96px;
  width: 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.artStyle {
  width: 100%;
  height: 246.32px;
  object-fit: cover;
}

.moreIcon {
  width: 14.25px;
  height: 14.25px;
}

.title {
  height: 16px;
  width: 60%;
}

.categContainer {
  height: 20px;
  width: 80px;
}

@media screen and (max-width: 576px) {
  .artContainer {
    min-width: 96px;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .artContainer {
    min-width: 96px;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .artContainer {
    min-width: 96px;
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .artContainer {
    min-width: 96px;
    width: 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media screen and (min-width: 1200px) {
  .artContainer {
    min-width: 96px;
    width: 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 1400px) {
  .artContainer {
    min-width: 96px;
    width: 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
